apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: rh-push-to-registry-redhat-iotest-component
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/dev-release-team-tenant/rh-push-to-registry-redhat-iotest/rh-push-to-registry-redhat-iotest-component@sha256:afc9134f59ba54c25603e22591b36fb609f9f8d1050fdd18530dc9a1ff232b6b
        name: my-python
        resources: {}
status: {}
